@mixin flexCentering($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@font-face{
    font-family: "Kufam";
    src: url("../fonts/Kufam.ttf");
}

body, html{
    margin: 0;
    width:100%;
    height:100%;
}

#bg{
    @include flexCentering(space-between, center);
    position: relative;
    flex-direction: column;
    width:100%;
    height:100%;
    background-image: url("../img/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center 0%;
}

#menu{
    width:100%;
    height:10%;
    ul{
        @include flexCentering(flex-end, center);
        color:#fff;
        font-family: Roboto, sans-serif;
        list-style:none;
        margin:0;
        padding:0;
        width:100%;
        height:100%;
        li{
            margin:0 30px;
            border:2px solid #fff;
            border-radius: 50px;
            padding:10px 7px;
            width:7%;
            cursor: pointer;
            text-align: center;
            transition:all .3s;
            &:hover{
                background:#fff;
                color:#262626;
            }
        }
    }
}

h1{
    @include flexCentering(center, center);
    position: relative;
    font-family: "Kufam";
    background:#fff;
    width:30%;
    font-size:40px;
    text-align: center;
    padding:2% 4%;
    transform: translate(-10%, -70%) skewY(1deg) rotate(3deg);
    color:#262626;
    &::after{
        @include flexCentering(center, center);
        position: absolute;
        z-index:-1;
        top:75%;
        left:30%;
        background:#262626;
        width:100%;
        height:100%;
        content: "Front-End Developer";
        color:#fff;
    }
}

#foot{
    width:100%;
    height:7%;
    background:#262626;
}